@font-face {
    font-family: DaysOne;
    src: url(fonts/DaysOne-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}
html {
    font-size:  calc(1vw / 14.4);
}
body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}
.wrapper {
    font-size: 16rem;
    width: 1440rem;
    overflow: hidden;
}

.banner2 {
    width: 1440rem;
    height: auto;
    padding: 0;
}
.image_banner {
    width: 1440rem;
    height: auto;
}
.container {
   width: 1440rem;
   height: 1200rem;
   background: url(image/fon_block.png) 100% 100%;
   background-size: cover;
   background-position: center;
   
}
.text-container {
    position: relative;
    margin: 0 auto;
    width: 1200rem;
    height: auto;
    padding-top: 92rem;
    background-color: rgba(255, 255, 255, 0);
}
.text-container-block {
    background-color: rgba(255, 255, 255, 0); 
    width: 1200rem;
}
.image-text {
    position: absolute;
    top: 203.2rem;
    width: 480rem;
    height: 240rem;
    z-index: 1;
}
.map_text {
    position: absolute;
    left: 768rem;
    top: 320rem;
    width: 352rem;
    height: 160rem;
}
h1 {
    width: 832rem;
    font-family: DaysOne;
    font-size: 28rem;
    text-transform: uppercase;
}
.description {
 font-family: Montserrat;
 font-size: 20rem;
 background-color: rgba(255, 255, 255, 0.8);
 border-left: 2px solid grey;
 border-top: 1px solid #FFB75E;
 border-right: 1px solid #FFB75E;
 border-bottom:1px solid #FFB75E;
 text-align: center;
 display: table-cell;
 vertical-align: middle;
}
.one {
    position: absolute;
    left: 304rem;
    top: 272rem;
    z-index: 2;
    width: 416rem;
    height: 208rem;
   
}
.two {
    position: absolute;
    width: 416rem;
    height: 160rem;
    left: 640rem;
    top: 400rem;
    z-index: 3;
}
.three {
    position: absolute;
    width: 614.4rem;
    height: 244.3rem;
    top: 512rem;
    
}
.house_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 640rem;
    height: 480rem;
    background: 
    url(image/forrest.png) center left/1250rem 240rem no-repeat,
    url(image/sun3.png) center right/ 700rem 448rem no-repeat;
}
h2 {
    font-family: DaysOne;
    font-size: 20.8rem;
    text-transform: uppercase;
    color: white;
    padding-left: 32rem;
}
.description_territory{
    display: flex;
    padding-left: 112rem;
}
.description_territory > div {
    
    border-left: 2px solid #FFB75E;
}
.description_territory > div:nth-child(2){
    width: 240rem;
    border-right: 2px solid #FFB75E;
}

.description_territory > div > p {
    font-size: 48rem;
    font-family: Montserrat;
    color: #FFB75E;
    margin: 0 32rem;
    text-align: center;
}
.span-territory {
    color: white;
    font-size: 40rem;
}
.span_description {
    color: white;
    font-size: 17.92rem;
    display: table-cell;
 vertical-align: middle;
}

.house-image {
   
    width: 400rem;
    height: 320rem;
}
.ticker-one, .ticker-two {
    
    font-family: DaysOne;
    font-size: 27.2rem;
    color: white;
    overflow: hidden;
    text-transform: uppercase;
    }
.animation_ticker {
    display: flex;
    animation: marquee 15s infinite linear;
    
    white-space: nowrap;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.ticker-one {
    background: #FFB75E;
    margin-top: 48rem;
    
}
.ticker-two {
    background: #FFCB46;
}
.ticker-one > div > p,.ticker-two > div > p {
    margin-right: 32rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

@media screen and (max-width: 480px) {
    html {font-size: calc(1vw / 3.2)}
    .wrapper, .banner2, .image_banner, .container {
        width: 320rem;
        max-width: 480rem;
    }
    .text-container, .text-container-block {
        width: 300rem;
        max-width: 460rem;
    } 
    .text-container {
        padding-top: 76rem;
    }

    h1 {
        max-width: 345rem;
        font-size: 16rem;
    }
     
    .image-text {
        width: 280rem;
        height: 149rem;
    }
    .map_text {
        width: 280rem;
        height: 149rem;
        left: 0;
        top: 770rem;
    }

    .description {
        font-size: 15rem;
        
    } 

    .one {
        left : 30rem;
        width: 265rem;
        height: 123rem;
    }
  
    .two {
        left: 30rem;
        top: 830rem;
        width: 265rem;
        height: 123rem;
    }
    .three {
        width: 300rem;
        top: 470rem;
    }
    .house-image-block {
        display: none;
    }
    .house_block {
        width: 320rem;
        max-width: 380rem;
        height: auto;
        top: 880rem;
        background: url(image/forrest.png) left / 100% 100%;
        background-size: cover;
    }
    h2 {
        font-size: 16rem;
        padding-left: 0;
    }
    .ticker-one {
        margin-top: 50rem;
    }
    .ticker-one, .ticker-two {
        font-size: 12rem;
    }
    .description_territory {
        padding-left: 0;
        justify-content: center;
        
    }
     
    .description_territory > div > p {
        font-size: 40rem;
        margin: 0 15rem;
    }
    .span-territory {
        font-size: 17rem;
    }
    .description_territory > div:nth-child(2){
        width: auto;
    }
  }