@font-face {
    font-family: DaysOne;
    src: url(fonts/DaysOne-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    
}
.wrapper {
    width: 100%;
    min-width: 20rem;
    max-width: 160rem;
    overflow: hidden;
}

.banner2 {
    width: 100%;
    height: auto;
    padding: 0;
}
.image_banner {
   
    width: 100%;
    height: auto;
}
.container {
   width: 100%;
   height: 75rem;
   background: url(image/fon_block.png) 100% 100%;
   background-size: cover;
   background-position: center;
   
}
.text-container {
    position: relative;
    margin: 0 auto;
    width: 86%;
    max-width: 74.3rem;
    height: auto;
    max-height: 45.8rem;
    padding-top: 5.75rem;
    background-color: rgba(255, 255, 255, 0);
}
.text-container-block {
    background-color: rgba(255, 255, 255, 0); 
}
.image-text {
    position: absolute;
    top: 12.7rem;
    
    width: 30rem;
    height: 15rem;
    z-index: 1;
}
.map_text {
    position: absolute;
    left: 48rem;
    top: 20rem;
    width: 22rem;
    height: 10rem;
}
h1 {
    width: 52rem;
    font-family: DaysOne;
    font-size: 1.75rem;
    text-transform: uppercase;
}
.description {

 font-family: Montserrat;
 font-size: 1.25rem;
 background-color: rgba(255, 255, 255, 0.8);
 border-left: 2px solid grey;
 border-top: 1px solid #FFB75E;
 border-right: 1px solid #FFB75E;
 border-bottom:1px solid #FFB75E;
 text-align: center;
 display: table-cell;
 vertical-align: middle;
}
.one {
    position: absolute;
    left: 19rem;
    top: 17rem;
    z-index: 2;
    width: 26rem;
    height: 13rem;
   
}
.two {
    position: absolute;
    width: 26rem;
    height: 10rem;
    left: 40rem;
    top: 25rem;
    z-index: 3;
}
.three {
    position: absolute;
    width: 38.4rem;
    height: 15.3rem;
    top: 32rem;
    
}
.house_block{
    display: flex;
    justify-content: space-between;
   
    position: relative;
    top: 45rem;
    background: 
    url(image/sun.png) center right/ 30rem 74rem no-repeat, 
    url(image/forrest.png) center left/70rem 15rem no-repeat;
  
}
h2 {
    font-family: DaysOne;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
    padding-top: 3rem;
    padding-left: 2rem;
    
}
.description_territory{
    display: flex;
    padding-left: 7rem;
}
.description_territory > div {
    
    border-left: 2px solid #FFB75E;
}
.description_territory > div:nth-child(2){
    width: 15rem;
    border-right: 2px solid #FFB75E;
}

.description_territory > div > p {
    font-size: 3rem;
    font-family: Montserrat;
    color: #FFB75E;
    margin: 0 2rem;
    text-align: center;
}
.span-territory {
    color: white;
    font-size: 2.5rem;
}
.span_description {
    color: white;
    font-size: 1.12rem;
    display: table-cell;
 vertical-align: middle;
}

.house-image {
   
    width: 25rem;
    height: 20rem;
}
.ticker-one, .ticker-two {
    
    font-family: DaysOne;
    font-size: 1.7rem;
    
    color: white;
    overflow: hidden;
    
    
}
.animation_ticker {
    display: flex;
    animation: marquee 15s infinite linear;
    
    white-space: nowrap;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.ticker-one {
    background: #FFB75E;
    margin-top: 3rem;
    
}
.ticker-two {
    background: #FFCB46;
}
.ticker-one > div > p,.ticker-two > div > p {
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media(max-width : 768px){
    *{
        font-size: 10px;
    }
    .one {
        left : 19rem;;
    }
    .map_text {
        left: 0;
    top: 50rem;
    }
    .two {
        left: 10rem;
        top: 55rem;
    }
    .house_block {
        top: 55rem;
        
    }
    .ticker-one {
        margin-top: 10rem;
    }
}

@media(min-width : 2120px){
    *{
        font-size: 30px;
    }
}

@media(max-width : 1024px){
    *{
        font-size: 12px;
    }
}
@media(max-width : 426px){
    *{
        font-size: 8px;
    }
    .image_banner {
        height: 35rem;
    }
    .one {
        left : 10rem;;
    }
    .map_text {
        left: 0;
        top: 50rem;
    }
    .two {
        left: 10rem;
        top: 55rem;
    }
    .house-image-block {
        display: none;
    }
    .house_block {
        top: 55rem;
        background: url(image/forrest.png);
    }
    .ticker-one {
        margin-top: 10rem;
    }
    .description_territory {
        padding-left: 0;
        justify-content: center;
        padding-bottom: 1rem;
    }
}
